@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #79b3ff;
  --sub-color: #aed1ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: white;
}

a.active {
  color: var(--sub-color);
}

a {
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

a:hover {
  color: var(--main-color);
}
input,
textarea {
  background-color: #333;
  @apply rounded-sm py-3 px-4;
}
input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}
